recovery_workflow.json
{
  "name": "Super Extração Google Maps - Multi-Usuário SAAS",
  "nodes": [
    {
      "id": "1587751f-d3ec-4c27-bbdb-28cdcdbb8831",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-912, -64],
      "parameters": {
        "httpMethod": "POST",
        "path": "start-extraction",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "c33e2193-cdfb-4bd9-b437-65d47bc9f10d",
      "name": "Google - Buscar Lugares",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-368, -336],
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $node[\"Run an Actor\"].json.defaultDatasetId }}/items",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "YvVp5wK2z7A6L8M", "name": "Apify API Token" } }
    },
    {
      "id": "6b34ba52-e5dc-4e27-b4ab-aa6a5d75591c",
      "name": "OLX",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [-368, 240],
      "parameters": {
        "actorId": "X8XU8wp5fgyRVufIF",
        "customBody": "={\n  \"location\": \"{{ $json.body.config.city }}\",\n  \"limit\": {{ $json.body.config.limit }},\n  \"type\": \"SALE\",\n  \"unitUsage\": \"RESIDENTIAL\",\n  \"proxy\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\"RESIDENTIAL\"],\n    \"countryCode\": \"BR\"\n  }\n}\n"
      },
      "credentials": { "apifyApi": { "id": "L8Jv5wK2z7A6M9N", "name": "Apify account" } }
    },
    {
      "id": "1ead934e-57bf-4cd1-a659-e136e74aa76f",
      "name": "Get dataset items2",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [-128, 240],
      "parameters": {
        "operation": "getDatasetItems",
        "datasetId": "={{ $json.defaultDatasetId }}"
      },
      "credentials": { "apifyApi": { "id": "L8Jv5wK2z7A6M9N", "name": "Apify account" } }
    },
    {
      "id": "699dfe33-1c97-46f0-84e3-6cecf2da630a",
      "name": "Tipo Anunciante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [50, 400],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f8737b8b-703c-43f1-9494-01362e646271",
              "leftValue": "={{ $node[\"Webhook Trigger\"].json.body.config.seller_type }}",
              "operator": { "operation": "equals", "type": "string" },
              "rightValue": "all"
            }
          ]
        }
      }
    },
    {
      "id": "466d9296-137b-4733-ac03-3fbb9b35fde1",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [250, 450],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "4c7a5b3d-...",
              "leftValue": "={{ $json.entities.seller.name }}",
              "operator": { "operation": "notContains", "type": "string" },
              "rightValue": "Imobiliária"
            }
          ]
        }
      }
    },
    {
      "id": "97a229c9-e5c4-4ca8-8335-46d2277f694a",
      "name": "DADOS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 240],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cf3a4fc9-240e-4af2-9d0e-a7edee770c29", "name": "name", "value": "={{ $json.entities.seller.name }}", "type": "string" },
            { "id": "7fdda9e7-0444-4e06-add5-91daf0d03f40", "name": "whatsapp", "value": "={{ $json.contact.whatsapp }}", "type": "string" },
            { "id": "ac286701-bc62-46d5-a5bd-d568e99dfa74", "name": "address", "value": "={{ $json.location.label }}", "type": "string" },
            { "id": "61370489-8a93-4aa4-bbc8-0582403a31bc", "name": "website", "value": "={{ $json.source_context.url }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "salvar-lead-zap-id",
      "name": "Salvar Lead ZAP",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 240],
      "parameters": {
        "operation": "insert",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "name", "fieldValue": "={{ $json.name }}" },
            { "fieldId": "phone", "fieldValue": "={{ $json.whatsapp }}" },
            { "fieldId": "city", "fieldValue": "={{ $item(0).$node[\"Webhook Trigger\"].json.body.config.city }}" }
          ]
        }
      },
      "credentials": { "supabaseApi": { "id": "K7Mv5wK2z7A6L8S", "name": "Supabase account" } }
    },
    {
      "id": "finalizar-extracao-zap-id",
      "name": "Finalizar Extração ZAP",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 240],
      "parameters": {
        "operation": "update",
        "tableId": "extractions",
        "filters": { "conditions": [ { "keyName": "id", "keyValue": "={{ $item(0).$node[\"Webhook Trigger\"].json.body.extraction_id }}" } ] },
        "fieldsUi": { "fieldValues": [ { "fieldId": "status", "fieldValue": "completed" } ] }
      },
      "credentials": { "supabaseApi": { "id": "K7Mv5wK2z7A6L8S", "name": "Supabase account" } }
    },
    {
      "id": "wait-zap-id-v2",
      "name": "Wait ZAP FINAL",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [600, 380],
      "parameters": { "amount": 5, "unit": "seconds" }
    },
    {
      "id": "ed7a387f-3df5-49f2-9d5c-8506cae96874",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-656, -96],
      "parameters": {
        "dataType": "string",
        "value": "={{ $json.body.source }}",
        "rules": {
          "rules": [
            { "operation": "equal", "value": "google_maps" },
            { "operation": "equal", "value": "olx" },
            { "operation": "equal", "value": "instagram" },
            { "operation": "equal", "value": "zap" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [ [ { "node": "Switch", "type": "main", "index": 0 } ] ] },
    "Switch": { "main": [ [], [{ "node": "Run an Actor", "type": "main", "index": 0 }], [], [{ "node": "OLX", "type": "main", "index": 0 }] ] },
    "OLX": { "main": [ [ { "node": "Get dataset items2", "type": "main", "index": 0 }, { "node": "Wait ZAP FINAL", "type": "main", "index": 0 } ] ] },
    "Get dataset items2": { "main": [ [ { "node": "Tipo Anunciante?", "type": "main", "index": 0 } ] ] },
    "Tipo Anunciante?": { "main": [ [ { "node": "DADOS", "type": "main", "index": 0 } ], [ { "node": "Filter", "type": "main", "index": 0 } ] ] },
    "Filter": { "main": [ [ { "node": "DADOS", "type": "main", "index": 0 } ] ] },
    "DADOS": { "main": [ [ { "node": "Salvar Lead ZAP", "type": "main", "index": 0 } ] ] },
    "Wait ZAP FINAL": { "main": [ [ { "node": "Finalizar Extração ZAP", "type": "main", "index": 0 } ] ] }
  }
}
